@font-face {
  font-family: Adenium;
  src: url(fontes/Adenium\ Monogram.otf);
}
@font-face {
  font-family: Star;
  src: url(fontes/Starborn.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

main {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Typewriter effect */
.typewriter {
  display: inline-block; /* Garante que o texto ocupe o espaço correto */
  width: 100%; /* Usa toda a largura disponível */
  overflow: hidden; /* Esconde o texto enquanto é digitado */
  border-right: 2px solid rgba(0, 0, 0, 0.7); /* Barra piscante */
  white-space: nowrap; /* Impede quebra de linha */
  animation: typing 4s steps(50, end), blink 0.6s step-end infinite; /* Ajuste para textos longos */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: rgba(0, 0, 0, 0.7);
  }
  to {
    border-color: transparent;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  h1, h2 {
    font-size: 1.5em;
  }

  button {
    font-size: 1em;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .gallery-container {
    flex-direction: column;
  }

  .gallery-item {
    width: 90%;
    margin: 0 auto;
  }

  .overlay-content {
    padding: 10px;
  }
}
